.asideStyle {
  margin-left: -5px;
}

.link-estilo{
  border-bottom: 2px solid white;
}


@media (max-width: 768px) {
  .asideStyle {
    margin-left: 0; /* Eliminar margen en pantallas más pequeñas */
  }
}

.categorias{
  text-shadow: 2px 2px 2px rgb(238, 233, 233);
}