
.card:hover {
  transform: scale(1.01); 
}

.precio {
  font-size: 1.1rem; 
  font-weight: bold; 
  margin-top: 10px;
  color: #28a745; 
}

.colorCard {
  border: 1px solid #ccc;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column; 
  height: 100%; 
  box-shadow: 3px 3px 8px rgb(59, 59, 59);
}

.imgCard {
  height: 200px; 
  width: 100%;
  object-fit: contain; 
}
.bodyCard {
  flex-grow: 1;
  font-family: 'Roboto';
  padding: 15px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
}

